Cython
librosa
matplotlib
numpy
phonemizer
scipy
tensorboard
Unidecode
ffmpeg
jamo
cn2an
gradio==3.17.0
pypinyin
jieba
pyaudio
keyboard
websocket-client
unidecode
funasr
modelscope
flask
openai
pvporcupine
